form {
	float: left;
	margin: 5px;
}

body {
	width: 700px;
}

label {
	font-family: sans-serif;

}

.innerCell {
	width: 32%;
	height: 32%;
	border: 1px dotted grey;
	border-radius: 2px;
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-size: 0.9em;
	background: #e5e6e4;
}

.redInnerCell {
	background: #93032e;
	/*color: white;*/
	font-size: 0.8em;
}

.yellowInnerCell {
	background: #e5e6e4;
}

.solvedInnerCell {
	background: #739b73;
}

.dropedInnerCell {
	background: #553e4e;
}

.outerCell {
	width: 33%;
	height: 33%;
	border: 1px solid black;
	float: left;
}

.marked {
	background: #77685d;
}

.square {
	width: 700px;
	height: 700px;
	border: 2px solid black;
	padding: 10px;
}

.panel {
	width: 700px;
	border: 2px solid black;
	padding: 10px;
	float: left;
	clear: both;
}

.button {
	/*width: 40%;*/
	height: 30px;
	float: left;
	font-family: sans-serif;
	background-color: #878C89;
	/*border: 2px solid grey;*/
	border-radius: 1px;
	margin: 5px;
	padding: 0px 12px;
	text-align: center;
}

.signal {
	/*width: 40%;*/
	height: 30px;
	float: left;
	font-family: sans-serif;
	border: 1px;
	border-radius: 1px;
	margin: 5px;
	padding: 0px 12px;
	text-align: center;
	background-color: #93032e;
}

.greenButton {
	background-color: #297373;
}

.redButton {
	background-color: #93032e;
}

#puzzle {

}

.id {
	font-size: 0.7em;
	border: 1px solid blue;
	margin: 1px;
}

.content {
	font-size: 1.1em;
}

.debug {
	font-size: 0.7em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
