
.innerCell { 
	width: 32%;
	height: 32%;
	border: 1px dotted grey;
	background: #ddd;
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-size: 0.9em;
}

.redInnerCell {
	background: #af0000;
}

.greenInnerCell {
	background: #00af00;
}

.solvedInnerCell {
	background: yellow;
}

.outerCell { 
	width: 33%;
	height: 33%;
	border: 1px solid black;
	float: left;
}

.box { 
	width: 700px;
	height: 700px;
	border: 2px solid black;
}

#button {
	width: 700px;
	height: 30px;
	font-family: sans-serif;
	background-color: #9BC8B0;
	border: 2px solid grey;
	text-align: center;
}

.id { 
	font-size: 0.7em;
	border: 1px solid blue;
	margin: 1px;
}

.content { 
	font-size: 1.1em;
}

.tiny { 
	font-size: 0.7em;
}

